@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


:root{
	--menu-hover:#cd9b33;
	--color-general:#666;
	--color-footer:#CCC;
	--backgoundcolor-footer:#22202e;
	
}
body{
	font-size: 14px;
	font-family: "Lora", serif;
	color: var(--color-general);
}
header{
	background-color: #fff;
	padding: 5px 0;
	box-shadow: 0px 0px 5px 10px #f2f2f2;
}
footer #copyright{
	background-color: #000;
	color: #fff;
	padding: 20px 0;
	text-align: center;
	

}

#hero-slides{
	
background-position: center;
	
}
.delicieux h2{
font-family: "Kaushan Script", cursive; 	
text-align: center;	
}

.delicieux h3{
	
 font-family: "Lora", serif;	
text-align: center;

}

footer{
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: var(--backgoundcolor-footer);
	color: #FFFFFF;
}

.delicieux{
	margin-top: 30px;
	
}

footer h5{
color: var(--color-footer);	
}

.delicieux h2{
	font-size: 60px;
	margin-bottom: 10px;
}

	
